.container{
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* margin-top: 90px; */
}
.wrapper{
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    
}
.wrapper>img{
    width: 25rem;
    position: absolute;
    bottom: 0;
   
}

.blueCircle{
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    z-index: -99;
    position: absolute;
    bottom: 0;
    background: linear-gradient(135.74deg,#0bb5ff 14.09%, #6dd3fe 83.81%);
}

.cart2{
    position: absolute;
    bottom: 25%;
    right: 5%;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.cart2>svg{
    width: 40px;
    height: 40px;
    background: white;
    padding: 10px;
    border-radius: 50%;
    border: 4px solid black;
}
.signup{
    display: flex;
    gap: 1rem;
    align-items: center;
    background: white;
    cursor: pointer;
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 15px;
    box-shadow: var(--shadow1);
}
.signup>:first-child{
    display: block;
    width: 7rem;

}
.signup>:nth-child(2){
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    width: 20px;
    height: 20px;
    
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.side{
    display: grid;
    grid-template-rows: 1fr 1fr;

}
.text1{
    text-transform: uppercase;
    font-size: 1.5rem;
    width: min-content;
    display: block;
    font-weight: 600;
    margin-top: 30px;
}
.text2{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    width: min-content;
    color: black;
}
.text2>:first-child{
    font-weight: 800;
    font-size: 2.5rem;
}
.text2>:nth-child(2){
    display: block;
}
.trafic{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 30px;
}
.trafic>:first-child{
    font-weight: 800;
    font-size: 2.5rem;
}
.customers{
    display: flex;
    flex-direction: column;
    text-align: right;
    
}
.customers>:first-child{
    font-weight: 800;
    font-size: 2.5rem;

}

@media screen and (max-width: 450px) {
    
    
    .container{
        margin-top: 450px;
    }
    .text2{display: none;}
    
    .text1{display: none;}
    /* .text1, .text2>span:nth-of-type(2){
        font-size: 1rem;
        text-align: justify;
       
    }
    .text2 > span:nth-of-type(1),
    .trafic >span:nth-child(1),
    .customers >span:nth-child(1){
        font-size: 1.5rem;
        text-align: left;
    } */
   /* .text2{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
   } */
   /* .text2>span:nth-child(1){
    width: 100%
   }; */
   /* .text1{
   position: relative;
   } */
  .side{display: none;}
}