.vcantainer{
   margin-top: 6rem;
   margin-bottom: 3rem;
   padding: 2rem;
   display: flex;
   justify-content: space-around; 
}
.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}
.left>:nth-child(1){
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    

}
.left>:nth-child(2){
    font-size: 1.6rem;
    text-transform: uppercase;
    display: block;
    width: 20rem;

}
.left>:nth-child(3){
    font-size: 1.6rem;
    font-weight: bold;
    
}
.left>img{
    position: absolute;
    width: 10rem;
    bottom: 3rem;
    margin-bottom: 20px;
   margin-left: -20px;
}
.wrapper{
    border-radius: 50% !important;
    width: 30rem;
  
    
}
.wrapper >.ReactCompareImage{
    border-radius: 20px;
}
.right{
    border-radius: 30px;
}

@media screen and (max-width:450px) {
    .vcantainer{
        display: block;
        margin-top: -1px;
    }
    .left>span:nth-child(1),:nth-child(2){
        text-align: center;
        align-items: center;
        /* font-size: 1.5rem; */
    }
    
    .left>img{
        position: absolute;
    width: 10rem;
    bottom: 0rem;
    margin-bottom: -20px;
   margin-left: 90px;
    }
    .wrapper{
        width: auto;
        margin-top: 40px;
    }
    
}